extends layout 

block layout-content
     div.IndexDiv
     div.IndexDiv2 
     p  Indenting the body tag here would make no difference.
         form(action="/user" method="post")
                input(type="text" name="first_Nama"  )
                input(type="text" name="last_Name" )
                button(type="submit" ) Click  
     //- a(href = "/user") go to here

     //- img(src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=100&q=80", alt="")

      