/*  */

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_GypOcz_pT1axgYCtQuy1nK2va4HwH7lNOg&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  height: 10%;
  width: 100%;
  position: fixed;

}

#sidebar {
  height: 100%;
  position: fixed;

}